/* Styles communs pour les pages de login et logout */
:root {
  --background-color: #f4f4f9;
  --primary-color: #003366;
  --text-color: #333;
  --link-color: #0056b3;
  --footer-text-size: 0.8em;
}

/* Conteneur principal */
.container {
  padding: 50px;
  margin-top: 30px;
  background-color: #f5f5f5; /* Couleur de fond claire */
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #333; /* Couleur du texte principal */
}

/* En-tête de la carte */
.card-header {
  background-color: var(--primary-color); /* Couleur d'accentuation */
  text-align: center;
  border-radius: 15px 15px 0 0;
  padding: 20px;
}

.card-title {
  color: #fff; /* Couleur du texte clair */
  font-size: 24px;
  margin: 0;
}

/* Cacher le lien "Forgot your password?" */
a[href*="password/reset"] {
  display: none !important;
}

/* Style pour les boutons */
.btn-primary, .btn-success, .btn-logout {
  color: #fff; /* Couleur du texte clair */
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  width: 100%; /* Boutons plein largeur pour responsivité */
  margin: 10px 0;
}

.btn-primary {
  background-color: #4CAF50;
}

.btn-success {
  background-color: #0c531c;
  font-size: 14px;
}

.btn-logout {
  background-color: #dc3545;
}

.btn-primary:hover, .btn-success:hover, .btn-logout:hover {
  background-color: #1f60a6; /* Couleur légèrement plus foncée au survol */
  transform: scale(1.05); /* Effet d'agrandissement au survol */
}

.btn-logout:hover {
  background-color: #c82333;
}

/* Style des paragraphes */
p {
  margin-bottom: 20px;
  text-align: center; /* Centrer le texte pour une apparence uniforme */
}

/* Style du corps de la carte */
.card-body {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(225, 217, 217, 0.604); /* Couleur de fond blanche */
  padding: 5%;
}

/* Style des alertes */
#alert-info-mt-3 {
  display: flex;
  margin-left: 90px;
}

/* Champs de texte arrondis */
input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 20px; /* Bord arrondi */
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border-color: #007bff; /* Couleur de l'accentuation au focus */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); /* Ombre au focus */
}

/* Responsivité */
@media (max-width: 768px) {
  .container {
      padding: 20px;
  }

  .card-header, .card-body {
      padding: 10px;
  }
}
