/* Définition des variables */
:root {
    --background-color: #f4f4f9;
    --primary-color: #003366;
    --text-color: #333;
    --link-color: #0056b3;
    --footer-text-size: 0.8em;
}

/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    margin-top:30px; /* Assure une marge en haut pour l'en-tête */
}

/* En-tête et pied de page */
header, footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Contenu principal */
main {
    padding: 20px;
}

/* Styles pour les titres */
h1, h2, h3 {
    color: var(--link-color);
    margin-bottom: 20px; /* Ajoute un espace après chaque titre */
}

/* Styles pour les liens */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les formulaires de recherche */
.search-container {
    margin-bottom: 20px;
}

.search-form {
    text-align: left;
}

.search-form input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #45a049;
}

/* Styles pour la liste de cours */
.cours-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

section.cours {
    background-color: #c0c8c2;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 15px;
}

.logiciel-list {
    list-style-type: none;
    padding: 0;
}

.logiciel {
    background: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

/* Styles pour le pied de page */
footer p {
    margin: 0;
    font-size: var(--footer-text-size);
}

/* Titre principal */
#titre {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
