<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% load auth_extras %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftIsep - Liste des Cours</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Ajoutez ici d'autres balises meta ou de lien si nécessaire -->
</head>
<body>
    <!-- Entête -->
    {% include 'header.html' %}

    <main>
        <!-- Gestion des privilèges pour les professeurs -->
        {% if user|has_group:"Professeurs" %}
            {% include 'admin_buttons.html' %}
        {% endif %}
    
        <h1>Liste des Cours</h1>
        
        <!-- Formulaire de recherche -->
        <div class="search-container">
            {% include 'search_form.html' %}
        </div>

        <!-- Affichage des cours -->
        <div class="cours-container">
            {% for cours in cours_list reversed %}
                {% include 'cours_card.html' %}
            {% endfor %}
        </div>
    </main>

    <!-- Pied de page -->
    {% include 'footer.html' %}
</body>
</html>
