<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% load auth_extras %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftIsep - Mes Cours</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Ajoutez ici d'autres balises meta ou de lien si nécessaire -->
</head>
<body>
    <!-- Entête -->
    {% include 'header.html' %}

    <main>
        <h1>Mes Cours</h1>
        {% if courses %}
            <!-- Affichage des cours de l'utilisateur -->
            <div class="cours-container">
                {% for cours in courses reversed %}
                    {% include 'cours_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <!-- Aucun cours disponible -->
            <p>Aucun cours disponible.</p>
        {% endif %}
    </main>

    <!-- Pied de page -->
    {% include 'footer.html' %}
</body>
</html>
