<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% load auth_extras %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftIsep - Détails du Logiciel</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Ajoutez ici d'autres balises meta ou de lien si nécessaire -->
</head>
<body>
    <!-- Entête -->
    {% include 'header.html' %}

    <main>
        <h1>Détails du Logiciel</h1>
        
        <!-- Affichage des détails du logiciel -->
        <div class="logiciel-details">
            <h2>{{ logiciel.nom }}</h2>
            <p>{{ logiciel.description }}</p>
            <p><strong>Version :</strong> {{ logiciel.version }}</p>
            <p><strong>Date de sortie :</strong> {{ logiciel.date_de_sortie }}</p>
            <p><strong>Système d'exploitation :</strong> {{ logiciel.systeme_exploitation }}</p>
            
            <!-- Affichage des cours associés au logiciel -->
            <p>Associé à ces cours :</p>
            <ul>
                {% for cours in cours_associated %}
                    <li>{{ cours.nom }}</li>
                {% endfor %}
            </ul>
            
            <!-- Lien de téléchargement -->
            <p><a href="{{ logiciel.url_telechargement }}">Configurer le logiciel</a></p>
        </div>
    </main>

    <!-- Pied de page -->
    {% include 'footer.html' %}
</body>
</html>
