<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftIsep - Détails du Logiciel</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest'%}">

</head>
<body>
    <header>
        <a href="{% url 'index' %}" id="titre">SoftIsep</a>
        <div class="image-container">
            <img src="{% static 'images/logo-isep.png' %}" alt="My Image" class="top-right-image">
        </div>
    </header>
    <main>
        <h1>Détails du Logiciel</h1>
        <div class="logiciel-details">
            <h2>{{ logiciel.nom }}</h2>
            <p>{{ logiciel.description }}</p>
            <p><strong>Version :</strong> {{ logiciel.version }}</p>
            <p><strong>Date de sortie :</strong> {{ logiciel.date_de_sortie }}</p>
            <p><strong>Système d'exploitation :</strong> {{ logiciel.systeme_exploitation }}</p>
            <p>Associé à ces cours :</p>
            <ul>
                {% for cours in cours_associated %}
                    <li>{{ cours.nom }}</li>
                {% endfor %}
            </ul>
            <p><a href="{{ logiciel.url_telechargement }}">Configurer le logiciel</a></p>
        </div>
    </main>
    <footer>
        <p>© 2024 Tous droits réservés. Digitalys</p>
    </footer>
</body>
</html>
